<% include partials/header.ejs %>
<div class ="row">
    <div class="col-xs-12">
	<p class="highlight">Hi, I am Ugur;</p>
	<p>This is my small space on the internet where I talk about anything that I find interesting. If it's a game project or anything related to programming, I almost always have a link to the source code at my <a class="inline-link" href="https://github.com/ugurkodak"><i class="fa fa-github" arie-hidden="true">GitHub</i></a> page. When I have an update about something, it jumps to the top contained within it's related title and history. If you want to contact me, send a <a class="inline-link" href="#"><i class="fa fa-envelope" arie-hidden="true">message</i></a> and if you want to learn about my background visit my <a class="inline-link" href="https://www.linkedin.com/in/ugurkodak"><i class="fa fa-linkedin-square" arie-hidden="true">LinkedIn</i></a> page.</p>
	<p>Cheers.</p>
	<hr>
    </div>
</div>

<% include partials/footer.ejs %>
