<% include partials/header.ejs %>
<div class ="row">
    <div class="col-xs-12">
	<p class="highlight-line">Hi, I am Ugur;</p>
	<p>This is my small space on the internet where I talk about anything that I find interesting. If it's a game project or anything related to programming, I almost always have a link to the source code at my <a class="inline-link" href="https://github.com/ugurkodak"><i class="fa fa-github" arie-hidden="true">GitHub</i></a> page. When I have an update about something, it jumps to the top contained within it's related title and history. If you want to contact me, send an <a class="inline-link" href="#"><i class="fa fa-envelope" arie-hidden="true">email</i></a> and if you want to learn about my background visit my <a class="inline-link" href="https://www.linkedin.com/in/ugurkodak"><i class="fa fa-linkedin-square" arie-hidden="true">LinkedIn</i></a> page.</p>
	<p>Cheers.</p>
	<hr>
    </div>
</div>

<div class="row">
    <div class="col-xs-8">
	<div class="topic">
	    <h1>Topic Title</h1>
	    <div class="post">
		<h2>Post Title</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris bibendum at est ut accumsan. Donec lacus eros, euismod in vulputate et, efficitur in velit. Suspendisse sit amet mollis tortor, eu interdum purus. Duis ut turpis libero. Donec ac accumsan est. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean condimentum ac purus eu congue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce pellentesque mi non neque interdum, sit amet vulputate orci rhoncus. Nullam non blandit leo, a aliquet risus. Nullam diam risus, luctus vel euismod non, tempus et urna. Cras in ultrices orci. Aliquam leo nisl, fringilla in finibus nec, sollicitudin vel tortor. Nam nec libero sapien. Morbi pulvinar congue sapien, tincidunt facilisis tellus scelerisque sed. Cras facilisis ex sem, a efficitur ligula ultrices quis.</p>
	    </div>
	    <h3>Older posts about this topic:</h3>
	    <div class="btn-group-vertical">
		<button class="btn-old-post btn btn-default" type="button" data-toggle="collapse" data-target="#qwe">Some Older Post Title</button>
		<div id="qwe" class="post collapse">
		    <h2>Post Title</h2>	
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris bibendum at est ut accumsan. Donec lacus eros, euismod in vulputate et, efficitur in velit. Suspendisse sit amet mollis tortor, eu interdum purus. Duis ut turpis libero. Donec ac accumsan est. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean condimentum ac purus eu congue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce pellentesque mi non neque interdum, sit amet vulputate orci rhoncus. Nullam non blandit leo, a aliquet risus. Nullam diam risus, luctus vel euismod non, tempus et urna. Cras in ultrices orci. Aliquam leo nisl, fringilla in finibus nec, sollicitudin vel tortor. Nam nec libero sapien. Morbi pulvinar congue sapien, tincidunt facilisis tellus scelerisque sed. Cras facilisis ex sem, a efficitur ligula ultrices quis.</p>
		</div>
		<button class="btn-old-post btn btn-default" type="button" data-toggle="collapse" data-target="#asd">Some Older Post Title</button>
		<div id="asd" class="post collapse">
		    <h2>Post Title</h2>	
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris bibendum at est ut accumsan. Donec lacus eros, euismod in vulputate et, efficitur in velit. Suspendisse sit amet mollis tortor, eu interdum purus. Duis ut turpis libero. Donec ac accumsan est. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean condimentum ac purus eu congue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce pellentesque mi non neque interdum, sit amet vulputate orci rhoncus. Nullam non blandit leo, a aliquet risus. Nullam diam risus, luctus vel euismod non, tempus et urna. Cras in ultrices orci. Aliquam leo nisl, fringilla in finibus nec, sollicitudin vel tortor. Nam nec libero sapien. Morbi pulvinar congue sapien, tincidunt facilisis tellus scelerisque sed. Cras facilisis ex sem, a efficitur ligula ultrices quis.</p>
		</div>
		<button class="btn-old-post btn btn-default" type="button" data-toggle="collapse" data-target="#zxc">Some Older Post Title</button>
		<div id="zxc" class="post collapse">
		    <h2>Post Title</h2>	
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris bibendum at est ut accumsan. Donec lacus eros, euismod in vulputate et, efficitur in velit. Suspendisse sit amet mollis tortor, eu interdum purus. Duis ut turpis libero. Donec ac accumsan est. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean condimentum ac purus eu congue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce pellentesque mi non neque interdum, sit amet vulputate orci rhoncus. Nullam non blandit leo, a aliquet risus. Nullam diam risus, luctus vel euismod non, tempus et urna. Cras in ultrices orci. Aliquam leo nisl, fringilla in finibus nec, sollicitudin vel tortor. Nam nec libero sapien. Morbi pulvinar congue sapien, tincidunt facilisis tellus scelerisque sed. Cras facilisis ex sem, a efficitur ligula ultrices quis.</p>
		</div>
	    </div>
	</div>
    </div>
    <div class="col-xs-4">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris bibendum at est ut accumsan. Donec lacus eros, euismod in vulputate et, efficitur in velit. Suspendisse sit amet mollis tortor, eu interdum purus. Duis ut turpis libero. Donec ac accumsan est. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean condimentum ac purus eu congue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce pellentesque mi non neque interdum, sit amet vulputate orci rhoncus. Nullam non blandit leo, a aliquet risus. Nullam diam risus, luctus vel euismod non, tempus et urna. Cras in ultrices orci. Aliquam leo nisl, fringilla in finibus nec, sollicitudin vel tortor. Nam nec libero sapien. Morbi pulvinar congue sapien, tincidunt facilisis tellus scelerisque sed. Cras facilisis ex sem, a efficitur ligula ultrices quis.

	Vestibulum erat mi, semper sed quam dapibus, accumsan interdum lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris aliquet et velit posuere tempor. Nam id diam est. Nullam mattis massa vitae risus dapibus, et dictum odio imperdiet. Duis nec dui in dolor fringilla lacinia. Proin venenatis, est et malesuada sodales, elit mi tincidunt purus, ac mattis ligula purus laoreet ligula. In nibh est, egestas a eros id, malesuada commodo lorem. Donec ut finibus tortor, a varius lorem. Sed quis ante at metus finibus cursus ac at orci. Proin cursus turpis a tellus condimentum dapibus. Morbi nec facilisis velit. Maecenas venenatis ex rutrum nunc condimentum dapibus in eu nunc.
    </div>
</div>


<% include partials/footer.ejs %>
