<% include partials/header.ejs %>

<div class="message row">
    <div class="col-xs-4">
	<form class="row" method="post">
	    <div class="form-group col-xs-12">
		<h3 class="form-group" style="margin: 0px">New Post</h3>
	    </div>
	    <div class="form-group col-xs-4">
		<label class="sr-only" for="selectTopic">Topic</label>
		<select class="form-control" id="selectTopic" name="selectTopic" onchange="toggleTopicInput()">
		    <option value="new" selected>New Topic</option>
		    <% for (let i = 0; i < topics.length; i++) { %>
			<option value=<%= topics[i]._id %>><%= topics[i].title %></option>
		    <% } %>
		</select>
	    </div>
	    <div class="form-group col-xs-8" style="padding-left: 0px;">
		<label class="sr-only" for="topicTitle">Topic Title</label>
		<input type="text" class="form-control" id="topicTitle" name="topicTitle" placeholder="Topic Title">
	    </div>
	    <div class="form-group col-xs-12">
		<label class="sr-only" for="topicDescription">Description</label>
		<input type="text" class="form-control" id="topicDescription" name="topicDescription" placeholder="Description">
	    </div>
	    <div class="form-group col-xs-12">
		<label class="sr-only" for="postTitle">Post Title</label>
		<input type="text" class="form-control" id="postTitle" name="postTitle" placeholder="Post Title">
	    </div>
	    <div class="form-group col-xs-12">
		<label class="sr-only" for="postContent">Post Content</label>
		<textarea class="form-control" rows="4" id="postContent" name="postContent" placeholder="Content"></textarea>	
	    </div>
	    <div class="form-group col-xs-12">
		<button class="btn btn-default pull-right" type="submit">Send</button>	
	    </div>
	</form>
    </div>
    <div class="col-xs-4"></div>
    <div class="col-xs-4"></div>
</div>


<% include partials/footer.ejs %>
