*
{
    border-radius: 0px !important;
}

body
{
    background-color: #000;
    color: #aaa;
    font-size: 16px;
    margin-top: 15px;
}

hr
{
    border-color: #555;
    margin: 0px;
    padding: 0px;
}

.row
{
    margin-bottom: 10px;
}

.main-theme .highlight-line
{
    background-color: #222;
    color: #ccc;
    border: none;
}

.main-theme .inline-link
{
    color: #5af;
    font-size: 18px;
    text-decoration: none;
}

.main-theme .inline-link:hover,
.main-theme .inline-link:focus,
.main-theme .inline-link:active
{
    color: #fb5;
    text-decoration: none;
    outline: 0;
}

.main-theme input,
.main-theme textarea,
.main-theme .btn-default
{
    outline: 0;
    background-color: #222;
    color: #ccc;
    border-color: #000;
    font-size:16px;
}

.main-theme input:focus,
.main-theme textarea:focus
{
    outline: 0;
    border-color: #fb5;
}

.main-theme textarea
{
    resize: vertical;
    overflow: hidden;
}

.main-theme .btn-default:hover,
.main-theme .btn-default:focus,
.main-theme .btn-default:active,
.main-theme .btn-default:target
{
    outline: 0;
    color: #000;
    background-color: #fb5;
    border-color: #000;
}

.main-theme .btn-older-post
{
    font-size: 14px;
}

.copy
{
    font-size: 11px;
}
