style(type='text/css').
    #copy {
        font-family: 'Courier New', Courier, monospace;   
        color: #fb4;
        font-size: 12px;
        text-align: left;
        opacity: 0.5;
    }
div(class='row mt-5')
    div(class='col')
        p(id='copy') &copy;2018 Ugur Kodak, Contact: ugurkodak[@]gmail.com
script(src='bundle.js')