meta(charset='UTF-8')
meta(name='description' content='Quick maffs.')
meta(name='keywords' content='ugur,kodak,blog')
meta(name='author' content='Ugur Kodak')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
title #{title}
link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
style(type='text/css').
	body {
		background-color: #000;
		font-size: 16px;
	}
	body * {
		outline: none;
		font-family: 'Courier New', Courier, monospace;
		color: #aaa;
		background-color: transparent;
	}
	button, 
	button:focus {
		outline: none;
		cursor: pointer;
	}
	input {
		border: none;
	}
	.click {
		border: none;
		outline: none;
		user-select: none;
	}
	.click:hover,
	.click:focus,
	.click:active {
		background-color: transparent;
		text-decoration: none;
	}
	.click-external {
		color: #b33;
	}
	.click-external:hover,
	.click-external:focus,
	.click-external:active {
		color: #f55;		
	}
	.click-request {
		color: #48b;
	}
	.click-request:hover,
	.click-request:focus,
	.click-request:active {
		color: #6ac;
	}
	.click-local {
		color: #b83;
	}
	.click-local:hover,
	.click-local:focus,
	.click-local:active {
		color: #fb4;
	}