html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='description' content='Quick maffs.')
		meta(name='keywords' content='ugur,kodak,blog')
		meta(name='author' content="Ugur Kodak")
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title #{title}
		script(src='bundle.js')
		style(type='text/css').
			body {
				background-color: #000;
				font-size: 16px;
			}
			body * {
				font-family: 'Courier New', Courier, monospace;
				color: #aaa;
				background-color: #000;
			}