html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='description' content='Quick maffs.')
		meta(name='keywords' content='ugur,kodak,blog')
		meta(name='author' content="Ugur Kodak")
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title #{title}
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet' href='main.css')