html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='description' content='Quick maffs.')
		meta(name='keywords' content='ugur,kodak,blog')
		meta(name='author' content="Ugur Kodak")
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title #{title}
		//- link(rel='stylesheet' href='main.css')