<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%=title%></title>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Monoton" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Delius+Swash+Caps" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Rock+Salt" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Smokum" />
	<link rel="stylesheet" href="home/index.css">
    </head>
    <body>
	<div id="links">
	    <a id="code" target="_blank" href="#">CODE</a>
	    <a id="blog" target="_blank" href="#">BLOG</a>
	    <a id="linkedin" target="_blank" href="#">LINKEDIN</a>
	    <a id="email" target="_blank" href="http://www.google.com/recaptcha/mailhide/d?k=013khLp-RBDEce-OpwF6uyvg==&c=uEh59FtlBdYqg4YH_iRPD0cozj_FXYWYs-1pZVJ1M4M=">EMAIL</a>
	</div>
	
	<!-- <script src="index.bundle.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/87/three.min.js"></script>
	<script src="home/Detector.js"></script>
	<script src="home/index.js"></script>
    </body>
</html>

