body {
    margin: auto;
    background-color: red;
}

canvas {
    display: block;
    box-sizing:border-box;
    border: 1px solid white;
}

#links {
    position: absolute;
    top: 15px;
    width: 100%;
    text-align: center;
    z-index: 1;
    display:block;
}

@keyframes flicker {
    5% {opacity: 0.7}
    10% {opacity: 1}
    11% {opacity: 0.4}
    13% {opacity: 1}
}

#links a {
    position:absolute;
    color: white;
    text-decoration: none;
    transition: color 1s, text-shadow 1s, transform 1s;
}

#links a:hover {
    transform: none;
}

#code {
    font-size: 38px;
    left: 10%;
    font-family: "Delius Swash Caps";
    text-shadow: -1px 0 #38f, 0 1px #38f, 1px 0 #38f, 0 -1px #38f;
    transform: rotate(8deg);
    animation: flicker;
    animation-delay: 3s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#blog {
    font-size: 45px;
    left: 30%;
    font-family: "Monoton";
    text-shadow: -1px 0 #f00, 0 1px #f00, 1px 0 #f00, 0 -1px #f00;
    transform: rotate(-12deg);
    animation: flicker;
    animation-delay: 8s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#linkedin {
    font-size: 26px;
    left: 55%;
    font-family: "Rock Salt";
    text-shadow: -1px 0 #f0a, 0 1px #f0a, 1px 0 #f0a, 0 -1px #f0a;
    transform: rotate(20deg);
    animation: flicker;
    animation-delay: 15s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#email {
    font-size: 46px;
    left: 80%;
    font-family: "Smokum";
    text-shadow: -1px 0 #fa0, 0 1px #fa0, 1px 0 #fa0, 0 -1px #fa0;
    transform: rotate(-8deg);
    animation: flicker;
    animation-delay: 20s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
