body {
    margin: auto;
    background-color: black;
}

canvas {
    display: block;
    box-sizing:border-box;
    border: none;
}

#links {
    position: fixed;
    top: 15px;
    width: 100%;
    text-align: center;
    z-index: 1;
    display:block;
}

@keyframes flicker {
    5% {opacity: 0.5}
    10% {opacity: 0.8}
    11% {opacity: 0.2}
    12% {opacity: 0.8}
}

#links a {
    /* position: relative; */
    color: white;
    text-decoration: none;
    opacity: 0.7;
    transition: color 1s, text-shadow 1s, transform 1s, opacity 0.5s;
    display: block;
    line-height: 100px;
}

#links a:hover {
    transform: none;
    opacity: 1;
    animation: none;
}

#code {
    font-size: 38px;
    /* left: 10%; */
    font-family: "Delius Swash Caps";
    text-shadow: -1px 0 #38f, 0 1px #38f, 1px 0 #38f, 0 -1px #38f;
    transform: rotate(8deg);
    animation: flicker;
    animation-delay: 3s;
    animation-duration: 27s;
    animation-iteration-count: infinite;
}

/* disabled*/
#blog { 
    font-size: 45px;
    font-family: "Monoton";
    text-shadow: -1px 0 #f00, 0 1px #f00, 1px 0 #f00, 0 -1px #f00;
    transform: rotate(-12deg);
    /* animation: flicker;
    animation-delay: 9s;
    animation-duration: 27s;
    animation-iteration-count: infinite; */
    pointer-events: none;
    opacity: 0.2 !important;
}

#linkedin {
    font-size: 26px;
    font-family: "Rock Salt";
    text-shadow: -1px 0 #f0a, 0 1px #f0a, 1px 0 #f0a, 0 -1px #f0a;
    transform: rotate(20deg);
    animation: flicker;
    animation-delay: 21s;
    animation-duration: 27s;
    animation-iteration-count: infinite;
}

#email {
    font-size: 46px;
    font-family: "Smokum";
    text-shadow: -1px 0 #fa0, 0 1px #fa0, 1px 0 #fa0, 0 -1px #fa0;
    transform: rotate(-8deg);
    animation: flicker;
    animation-delay: 15s;
    animation-duration: 27s;
    animation-iteration-count: infinite;
}
